######## Setting for Asynchronous Request Synchronizer ########

#if submit fails due to non-active worker thread returned from pool
asyncrequestserializer.submit.retry-count=500

#delay (in millisecond) before above retry is attempted
asyncrequestserializer.submit.retry-delay=150

#poolsize of worker thread, 0 indicates default which is same as available CPU to JVM
asyncrequestserializer.pool.size=32

#time out (in millisecond) before worker thread assumes there will not any incoming outbound for currently mapped outbound key
asyncreqserializer.poolableworkerthread.timeout=100
